/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ===== BODY ===== */
body {
    background: #fff;
    color: #333;
}

/* ===== HEADER ===== */
header {
    background: rgb(200, 0, 0);
    padding: 20px;
    text-align: center;
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

/* ===== HERO SECTION ===== */
.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h2 {
    font-size: 32px;
    font-weight: bold;
    color: rgb(200, 0, 0);
}

.hero p {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 40px;
}

/* ===== BOTOES ===== */
.botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    background: rgb(200, 0, 0);
    color: white;
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: rgb(150, 0, 0);
}
